{
  "$schema": "./node_modules/oxlint/configuration_schema.json",
  "plugins": ["typescript", "unicorn", "oxc", "import", "promise"],
  "categories": {
    "correctness": "error",
    "suspicious": "warn",
    "pedantic": "off"
  },
{% if ts_typeaware %}  "options": {
    "typeAware": true
  },
{% endif %}  "env": { "builtin": true },
  "rules": {}
}
